#bg{
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 100px;
  background-color: #f3f3f3;
}

#divGeral{
  width: 75%;
  height: 28%;
  display: flex;
  flex-direction: column;
  gap: 495px;
  padding-top: 50px;
  justify-content: start;
  background-color: rgb(0, 87, 119);
  border: 5px solid rgb(92, 92, 179);
  border-radius: 10px;
}

.labirinto {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 1060px;
  grid-gap: 2px;
  margin: 0 auto;
  background-color: rgb(122, 154, 184);
}

.celula {
  width: 100%;
  height: 300%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.celula.obstaculo {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personagem {
  width: 100%;
  height: 100%;
  background-image: url("../assets/vasco.png");
  background-size: 50px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-btn{
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn{
  width: 200px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.divTitulo{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

h1{
  color: #000;
  font-size: 50px;
  font-weight: 400;
  font-family: system-ui;
}

p{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui;
}